<div class="flex flex-row gap-10">
  <button
    class="flex h-35 hover:bg-base-700 transition-all items-center gap-4 w-full overflow-hidden"
    [class.justify-end]="!collapsed"
    [class.justify-center]="collapsed"
    [class.pr-8]="!collapsed"
    [title]="username"
    (click)="router.navigate(['/profile'])"
  >
    @if (profile$ | async; as profile) {
      <img [src]="profile.avatarUrl || userStore.defaultProfileImage" class="w-16 h-16 rounded-full object-cover">
    }

    @if (!collapsed) {
      <div class="flex flex-col">
        <p class="font-mono font-bold text-glow-blue-50 text-3xl max-w-40">{{ username }}</p>
        <p class="font-mono font-bold text-light-700 text-xl max-w-40">{{ tier }}
      </div>
    }
  </button>
</div>
