@import "tailwindcss";
@import 'tailwindcss-primeui';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.icon-mask {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  background-color: currentColor;
}

@theme {
  --color-selected: #e3dd91;
  --color-warning: #e39191;

  --color-light: #e7e9f8;
  --color-base: #111114;
  --color-base-medium: #18181b;
  --color-base-light: #222731;
  --color-base-blue: #141830;

  --color-glow-blue: #4884df;
  --color-glow-orange: #cd5837;

  --font-mono: "Roboto Mono", monospace;
}

@layer base {
  body {
    background-color: var(--color-base);
    color: var(--color-light);
    font-family: var(--font-mono);
  }

  .p-tablist {
    border-radius: 20px 20px 0 0;
  }

  .p-tabpanels {
    border-radius: 0 0 20px 20px;
  }
}


