.icon-mask {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  background-color: currentColor;
  display: inline-block;
}