.button-hover-light {
  &:hover {
    p {
      color: var(--color-light-50);
      text-shadow:
        0 0 5px var(--color-glow-blue-700),
        0 0 10px var(--color-glow-blue-700),
        0 0 20px var(--color-glow-blue-700);
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

      &.text-warning {
        color: var(--color-light-orange-50);
        text-shadow:
          0 0 5px var(--color-glow-orange-600),
          0 0 10px var(--color-glow-orange-600),
          0 0 20px var(--color-glow-orange-600);
      }
    }

    .icon-wrapper {
      color: var(--color-light-50);
      filter:
        drop-shadow(0 0 5px var(--color-glow-blue-700))
        drop-shadow(0 0 10px var(--color-glow-blue-700))
        drop-shadow(0 0 20px var(--color-glow-blue-700));
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

      &.text-warning {
        color: var(--color-light-orange-50);
        filter:
          drop-shadow(0 0 5px var(--color-glow-orange-600))
          drop-shadow(0 0 10px var(--color-glow-orange-600))
          drop-shadow(0 0 20px var(--color-glow-orange-600));
      }
    }
  }
}
